{% extends "base.html" %}
{% block body %}
		<div class = 'container'>
			<section class = 'menu'> 
				<h2>Categories</h2>
				<ul>
					{% for category in categories %}
						<li>
							<a href = "{{url_for('get_items_by_category', category_name = category.name)}}"> <p>{{category.name}}</p></a>
						</li>
					{% endfor %}
				</ul>
			</section>
			<section class = 'main'>
				<h2>{{category.name}}</h2>
				<a href="{{url_for('add_item_to_category',category_name = category.name)}}"> <h3> Create a New Item </h3> </a>
				<ul>
					{% for item in items %}
						<li>
							<a href = "{{url_for('get_category_item', category_name = category.name, item_name = item.name)}}"> <p>{{item.name}}</p></a>
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>
{% endblock %}
