<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body><h1> Edit Category Item </h1>
		<form action="#" method = 'post'>
			<p>Name:</p>
				<input type ='text' size='30' name='name' value = '{{item.name }}'>
			<p>Description:</p>
				<input type ='text' size='500' name='description' value = '{{item.description}}'>
			<input type='submit' value='Edit'>
		</form>
		<a href = "{{url_for('get_category_item', category_id = category_id, item_id = item.id)}}"> Cancel </a>
	</body>
</html>

