{% extends "base.html" %}
{% block body %}
			<section class="pane">
				<h1 id="item-name">{{item.name}}</h1>
				<h2>description</h2>
				<p id="itme-desc">{{item.description}}</p>
				{% if user.user_id == item.user_id %}
					<section class="container">
						<a href = "{{url_for('edit_category_item', category_name = category.name, item_name = item.name)}}"> <button>Edit</button></a>

						<a href = "{{url_for('delete_category_item', category_name = category.name, item_name = item.name)}}"> <button>Delete</button></a>
					</section>
				{% endif %}
{% endblock %}
