
.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: row;
}

.menu {
    width: 30%;
}

.main {
    min-width: 70%;
}
#logout {
    width: 100px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 90%;
    background: #933;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
  
    }

    #logout:hover {
    color: #ffff00;
    background: #000;
    border: 1px solid #fff;
    }